body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background: #0073e6;
    color: white;
    padding: 20px;
}

.hero {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #0073e6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005bb5;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
footer {
    margin-top: 40px;
    background: #0073e6;
    color: white;
    padding: 15px;
}
